

.flex {
    display: flex;
  }

.font-barlow{
    font-family: "Barlow";sans-serif;
    font-weight: 600 ;

}

.text-center{
    text-align: center;
}

.h-50 {
    height: 50vh !important;
  }

.bg-repeat{
    background-repeat:no-repeat !important; 
}

.bg-position{
    background-position: center !important;
}
.bg-size{
    background-size:cover !important;
}

.text-xl{
    font-size: 38px !important;
}
