

@import url('https://fonts.google.com/specimen/Figtree');


body{
    background-color: hsl(47, 88%, 63%);
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#capa1{
    background-color: black;
    border-radius: 20px;
    padding-right: 30px;
    width: 360px;
    height: 645px;
    text-align: center;
}
#capa2{
    background-color: white;
    width: 340px ;
    height: 600px;
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    border-color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}    
#capa2 > img{
    border-radius: 10px;
}

#capa5{
    font-size: 16px;
    font-family: 'Figtree' ;
    color:  hsl(0, 0%, 50%);
}

#capa3{   
    background-color: hsl(47, 88%, 63%);
    margin: 10px;
    border-radius: 5px;
    width: 110px ;
    
}

#capa4{
    display: flex;
}