*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

main{
    height: 100vh;
    /* width: 20vh; */
    border: solid black;    
}

.sec-1{
    height: 100%;
    display: flex;
    position: relative;
    background-color: #d8ff58;
    border-bottom-left-radius: 120px;
    border: solid blue;
    

}
.container-img{
    height:100% ;
    background: url("./img/mobile/bg-pattern-intro-mobile.svg");
    border: solid green;
    background-position: center left -300px ;
    position: absolute;
    border-bottom-left-radius: 120px;
 }  

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 20px;
    padding-top: 40px;

}


.btn-menu {
    display: flex;
    background-color: transparent;
    border: none;
    
}
.menu{
    display: none;
}

.container-img > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:50px;

}

.descrip-1{
    display: flex;
    height: 35vh;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 100px;
    text-align: center;    
}

.descrip-1 > h2{
    display: flex;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

.descrip-1 >p{
    margin-top: 10px;
    display: flex;
    color: white;
    font-size: 20px;
    line-height: 5px;
}

.button-start{
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

.button1{
    height: 55px;
    width: 150px;
    border-radius: 20px;
    background-color: white;
    color:  #FF585F;
    font-size: 20px;
    font-weight: 700;
    border: none;
}


.button2{
    height: 55px;
    width: 150px;
    border-radius: 20px;
    background-color:transparent;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border:solid white;
}



